@media (max-width: 767px) /* @grid-float-breakpoint -1 */
{
  .navbar-custom
  {
    position: fixed;
    top: 0;
  }
}
.sticky{
	position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}

.sticked{
	background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #f2f2f2;
}
.sticked .navbar-brand {
  color: #333333;
}
.sticked .navbar-brand:hover,
.sticked .navbar-brand:focus {
  color: #0085A1;
}
.sticked .nav li a {
  color: #333333;
}
.sticked .nav li a:hover,
.sticked .nav li a:focus {
  color: #0085A1;
}

img.logo-navbar{
  width: 150px;
  float: left;
  margin-top: 15px;
}

.navbar-nav > li > .dropdown-menu a, .navbar-nav > li > .dropdown-menu a:hover{ color: black; }

.navbar-default .navbar-nav>.open>.dropdown-tab-navbar{background-color: #e12b00 ; color: white;}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

footer{
  color: #ecf0f1;
  background-image: linear-gradient(120deg, #9C0000, #FF5733);
  min-height:250px; 
}

.fa-stack-1x:hover{
  color: #333333;
}
.fa-stack-1x:hover + .fa-stack-2x{
  color:white;
}

footer a{
  color: #ecf0f1;
}

.joinus i{
  color: #BF1F12;
  background-color: #ecf0f1;
  border-radius: 100%;
  border: 1px white dashed;
}

.joinus i:hover{
  background-color: #DD3922;
  color: #ecf0f1;
}

footer a:hover{
  color: #95a5a6;
  text-decoration: none;
}

*{
	-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}